{{#if erro_msg}}
<div id="erroMsgModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Erros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            {{#each erro_msg}}
            <div class="alert alert-danger" role="alert">
                {{this}}
            </div>
            {{/each}}
        
        </div>
        <div class="modal-footer">
        </div>
    </div>
    </div>
</div>

<script>
    const erroMsgModal = new bootstrap.Modal('#erroMsgModal')
    erroMsgModal.show()
</script>
{{/if}}