{{#if sucesso_msg}}

<div class="alert alert-success alert-dismissible fade show" role="alert">
     <p><b>Mensagem: </b>{{sucesso_msg}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{{else}}
{{/if}}