<article class="container mt-5">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">404!</h4>
        <p>Parece que esta página não existe.</p>
        <hr>
        <p class="mb-0"><a class="fw-bold link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/">Clique aqui</a>  para voltar e acessar as ferramentas da plataforma.</p>
    </div>
</article>