<link rel="stylesheet" href="/styles/main/main.css">
{{> toasts/sucessoMsg}}
{{> toasts/erroMsg}}


<div class="container mt-3">
  <h4 class="text-uppercase text-secondary text-center">Acomodações Disponíveis</h4>
  <hr>
  <div class="row row-cols-2">

    {{> cards/cardMain}}


  </div>
  <script src="/scripts/breakpoints/992/main.js"></script>

